html
    head
    title Pug Template Example
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
body
    nav.navbar.navbar-dark.bg-dark.navbar-expand-sm
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='#') Home
            li.nav-item
                a.nav-link(href="#") About
            li.nav-item
                a.nav-link(href="#") Contact us
    br
    br
    div.container
        div.row
            div.col-md-12
                h2 Exercise 5.3 - Pug
                //- message from js file
                p.alert.alert-success= message

