<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>if...else...render</title>
</head>
<body>
  <!-- nav bar included from the github. -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
    <div role="main" class="container">
        <br/><br/>

        <h2>Names List:</h2>

            <!-- start if -->
            <%if (names.length > 0){ %>
                <!-- forloop -->
                <% for(var k = 0; k < names.length; k++){ %>
                    <div class="alert alert-success"><strong><%= names[k] %><br></strong></div>
                <% }%>
                <!-- end for loop -->
            <% }%>
            <!-- endif -->

    </div>
</body>
</html>
