<!-- Tabular view of employee records -->
<h2>Employee Records</h2>
<table class="table">
  <tr>
    <th scope="col">Employee ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Job</th>
  </tr>
  <tr>
    <td scope="row">DATA ID</td>
    <td>DATA FIRSTNAME</td>
    <td>DATA LASTNAME</td>
    <td>DATA EMAIL</td>
    <td>DATA JOB</td>
  </tr>
</table>
