<!-- Data entry page -->
<form>
  <!-- first name -->
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input class="form-control" type="text" id="firstName" placeholder="First Name">
  </div>
  <!-- last name -->
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input class="form-control" type="text" id="lastName" placeholder="Last Name">
  </div>
  <!-- email -->
  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" type="email" id="email" placeholder="Email">
  </div>
  <!-- job -->
  <div class="form-group">
    <label for="job">Job:</label>
    <input class="form-control" type="text" id="job" placeholder="Job">
  </div>
  <!-- submit -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
